<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
	<!-- 게시판 글 작성 -->
	<insert id="register">
	    INSERT INTO JSP_MEMBER(   ID 
	   					        , PASSWORD
	   					        , NAME 	)
	                  VALUES(    #{userId} 
	                 		   , #{userPass}
	                 		   , #{userName})
    </insert>
    
    <!-- 로그인 -->
    <select id="login" resultType="com.member.vo.MemberVO">
    	SELECT ID, PASSWORD
    		FROM JSP_MEMBER
    	WHERE ID = #{userId}
    		AND PASSWORD = #{userPass}
    </select>
</mapper>